.rencana-layout{
  width: 1170px;
  margin: 10px auto;
}
h1{
  color: red;
  border-bottom: 2px solid #2619ff;
  padding-bottom:10px;
}
.layout-irhadykw{
  margin: 10px auto;
}
h2{
  font-weight: normal;
  font-size: 20px;
}
