/* Kode Responsive untuk Tablet ukuran maksimal 1000px */
@media all and (max-width: 1000px) {
/* Responsive untuk Header */
  ul.topnav li a {
    padding: 0 10px;
    font-size: 13px;
  }
  .animlogo#logo1 {
    display: none;
  }

/*Responsife Bagian Utama*/
.judul  {
  top: 30px;
}

.judul h1#satu{
    font-size: 25px;
}
.judul h1#dua{
    font-size: 35px;
}

.judul p#p1{
  font-size: 15px;
  line-height: 20px;
}

.judul p#p2{
  margin-top: 40px;
  font-size: 15px;
  letter-spacing: 3px;
}

.main-section a{
  padding: 15px;
}
/* Responsive untuk Anggota Kelompok */
#team-section{
  padding-bottom:30px;
}
.col-20 {
  width:50%;
  text-align: center;
}
.box img{
  padding-bottom:50px;
}
.box p{
  padding: 0px 50px 30px 50px;
}
/* Responsive untuk Footer */
  span#copyrights {
    font-size: 12px;
  }
  span#credits {
    font-size: 10px;
  }
}

/* Kode Responsive untuk Smartphone ukuran maksimal 670px */
@media all and (max-width: 670px) {
/* Responsive untuk Header */
  .animlogo#logo1 {
    display: inline-block;
  }
  .animlogo#logo2 {
    display: none;
  }

  ul.topnav li{
    display: none;
  }
  ul.topnav li.iconmenu {
    float: right;
    display: inline-block;
  }

/* Responsive Bagian Utama */
.judul  {
  text-align: center;
  width:100%;
  left: 0;
  top:45px;
  margin:-1px 0 0 0;
  padding: 0 9px;
}
.judul h1#satu, .judul h1#dua{
  letter-spacing: 5px;
}
.judul h1#satu {
  font-size:16px;
}

.judul h1#dua {
  font-size:20px;
}

.judul p#p1{
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0;
}

.judul p#p2{
  margin:15px 0;
  font-size:12px;
}

.main-section a{
  padding: 10px;
  margin:0 auto;
  width:100%;
}

/* Responsive untuk Anggota Kelompok */
#team-section h1{
  font-size: 15px;
  letter-spacing: 5px;
}
.col-20 {
  width:100%;
  text-align: center;
}



/* Responsive Formulir */
.col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  margin-left:0;
}
/* Responsive untuk footer */
  .copyrights .container {
    height: 25px;
  }
p#copyright, p#credits {
    margin: 0;
    padding: 0;
    float:none;
    display: block;
    text-align:center;
    line-height:14px;
  }
}
