/* Kode Responsive untuk Tablet ukuran maksimal 1000px */
@media all and (max-width: 1000px) {

}

/* Kode Responsive untuk Smartphone ukuran maksimal 670px */
@media all and (max-width: 670px) {
    .header-right {
        display: none;
    }
    .menu-icon {
        display: block;
        float: right;
        color: white;
        
    }
    /* .card {
        width: 100%;
    }
    .box {
        width: 50%;
    } */
    /* mau ubah responsive card box belum bisa */
}
