/* Code CSS untuk tugas website */
* {
  box-sizing: border-box;
}

body{
  margin: 0;
}
h1, h2, h3 {
    font-family: sans-serif;
    font-weight: normal;
}
p {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


/* Bagian Header */
header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.container#top-section{
  background-color: rgba(34, 49, 52, 0.9);
}
/* style untuk animasi logo */
.animlogo {
  padding: 0 3px 0 3px;
  float: left;
  margin-top: 5px;
	animation-name: slide;
  animation-duration: 1s;
}

@-webkit-keyframes slide {
  0% { opacity: 0; margin-left: -250px; }
  100% { opacity: 1; margin-left: 0; }
}

@keyframes slide {
  0% { opacity: 0; margin-left: -250px; }
  100% { opacity: 1; margin-left: 0; }
}
/* akhir dari style animasi logo */

/* style untuk top navigasi */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding-left: 50px;
  overflow: hidden;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 13px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 16px;
  line-height: 73px;
}
ul.topnav li a:hover {
  background-color: #111;
}

ul.topnav li.iconmenu {
  display: none;
}

/* akhir dari top navitasi */

/* Bagian Utama */
.main-section{
  padding-top:75px;
  border-bottom:1px solid rgba(255,255,255,0.3);
  color: white;
}

.container#slider {
  overflow: hidden;
  padding:0;
  position:relative;
}

.container#slider figure{
  position:inherit;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.container#slider figure img {
  width: 20%;
  float: left;
  text-align: center;
}
@keyframes slider {
  0% { left:0; }
  20% { left: 0; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

.judul  {
  position: absolute;
  top: 40px;
  left: 40px;
  width:75%;
  opacity: 0.8;
}
.judul h1 {
  letter-spacing: 10px;
  display: block;
}
.judul h1#satu{
    font-size: 35px;
}
.judul h1#dua{
    font-size: 45px;
}
.judul p#p1{
  font-size: 25px;
  line-height: 35px;
}

.judul p#p2{
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 2px;
}

.main-section a{
  background-color: #009022;
  padding: 20px;
  display: block;
  text-align: center;
  width:180px;
  color: #fff;
  border-radius: 5px;
}
.main-section a:hover{
  background-color: #09b832;
}

/* Bagian Anggota Kelompok */
#team-section{
  background-color:#34495e;
  text-align:center;
  width:100%;
  padding-bottom: 80px;
}

.col-20 {
  float: left;
  width: 20%;
  margin-top: 6px;
}

#team-section h1{
	font-size: 20px;
	color:#ffffff;
  margin:0 auto;
  padding-top:30px;
  letter-spacing: 10px;
}

.box {
	position: relative;
}

.box img{
	width:150px;
	display: block;
	margin:10px auto;
  opacity:0.8;
}
.box img:hover{
  opacity:1;
}

.box p{
	font-size:14px;
	color:#9e9e9e;
  position: absolute;
  top:160px;
  width: 100%;
  padding: 0 5px;

}
span.namaku, span.asal {
  font-size: 12px;
  opacity:0.7;
}
span.namaku {
  color: yellow;
  font-weight: bold;
}
span.asal {
  color: white;
}

/* Bagian Formulir */

.container#form {
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
}
h3#hubungi {
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

span.label {
  padding: 13px 13px 13px 0;
  display: inline-block;
}
span.asterik {
  color: red;
}

input[type=submit] {
  background-color: #009022;
  color: white;
  padding: 12px 45px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  margin-left:25%;
}

input[type=submit]:hover {
  background-color: #09b832;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}


.baris:after { /* Menghapus float setelah baris */
  content: "";
  display: table;
  clear: both;
}


/* Bagian Footer */
.copyrights {
  background: #222222;
  padding: 10px 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  box-sizing: content-box;
}

span#copyrights {
  margin-bottom: 5px;
  color: #fff;
  font-size: 15px
  float: left;
}

span#credits a {
  color: #1abc9c;
}

span#credits {
  color: #999;
  float: right;
  padding-right: 10px;
}
