/* Code CSS untuk tugas website */
body{
  margin: 0;
  font-family: "Lucida Grande";
}
a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Bagian Header */
header {
  height: 70px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  margin: 5px;
}

.header-left {
  float: left;
}

.header-center {
  float: center;
  margin-right: 100px ;
  margin-left: 350px;
}

.header-center a {
  line-height: 70px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;

}

.header-center a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Bagian Utama */
.main-section{
  padding:150px 0 100px 0;
  background-image: url('../images/background.png');
  background-size: cover;
  border-bottom:2px solid rgba(255,255,255,0.5);
  color: white;
}
.main-section h1{
  font-size: 40px;
  opacity: 0.8;
}
.main-section p{
  font-size: 20px;
  opacity: 0.8;
  width: 50%;
}

.main-section span{
  color: yellow;
}
/* Bagian Anggota Kelompok */
.team-section {
  overflow: hidden;
  text-align: center;
  background: #34495e;
  padding: 60px;
}

.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  color: white;
  font-size: 40px;
}

.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #3498db;
  margin-top: 40px;
  margin-bottom: 40px;

}

.ps {
  margin-bottom: 40px;
}

.ps a{
  display: inline-block;
  margin: 0 30px;
  width: 160px;
  height: 160px;
  overflow: hidden;
  border-radius: 50%;
}

.ps a img {
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4 all;
}

.ps a:hover > img {
  filter: none;
}

.section {
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: center;
  height: 0;
  overflow: hidden;
}

.section:target {
  height: auto;
}

.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
/* Bagian Footer */
form {
  text-align: center;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 20px;
  margin-bottom: 10px;
}

input {
  height: 30px;
  text-align: center;

}
.contact-form h2{
  padding-bottom: 20px;
  padding-top: 10px;
}

.contact-form h3{
  margin-bottom: 10px;
}

.contact-submit {
  background-color: #18455e;
  color: white;
  padding: 30px 180px;
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
}

/* Bagian Footer */
.copyrights {
  background: #222222;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.copyrights p {
  margin-bottom: 5px;
  color: #fff;
  font-size: 15px
}

.copyrights a {
  color: #1abc9c;
}

.credits {
  color: #999;
}
