/* Code CSS untuk tugas website */
body{
  margin: 0;
}
h1, h2, h3 {
    font-family: sans-serif;
}
p {
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* Bagian Header */
header {
  height: 100px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  margin: 3px 5px 5px 5px;
  width:270px;
  height:100px;
}

.header-left {
  width:270px;
  float: left;
}

.header-center {
  float: center;
}

.header-center a {
  line-height: 70px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;

}

.header-center a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}


.header-right {
  float: right;
  margin-right: 25px;
}

.header-right a {
  line-height: 100px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Bagian Utama */
.main-section{
  padding:120px 0 50px 0;
  background-image: url('../images/background.jpg');
  background-size: cover;
  border-bottom:1px solid rgba(255,255,255,0.3);
  color: white;
}
.main-section h1{
  margin-top:70px;
  font-size: 40px;
  opacity: 0.8;
}
.main-section p{
  font-size: 20px;
  opacity: 0.7;
  width: 50%;
}

.main-section span{
  color: yellow;
}
.main-section a{
  background-color: rgba(14,255,200,1);
  padding: 10px;
  display: block;
  text-align: center;
  width:180px;
  color: #000;
  border-radius: 5px;
}
.main-section a:hover{
  background-color: rgba(14,255,200,0.7);
}
/* Bagian Anggota Kelompok */
*{
	box-sizing: border-box;
}

.container{
	max-width:1140px;
	margin:auto;
	position: relative;
	min-height: 1px;
}

.team{
	min-height: 68vh;
	padding:60px 15px;
	background-color:#34495e;
	float: left;
	width: 100%;
}

.team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}

.team .card{
	width:20%;
	float: left;
	padding:0px 15px;
}

.team .card .box {
	padding:15px;
	background-color: #2d3035;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}

.team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}

.team .card .box img{
	width:150px;
	display: block;
	margin:10px auto;
	border-radius:50%;
}

.team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}

.team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
.team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}

/* Bagian Footer */
form {
  text-align: center;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  font-size: 20px;
  margin-bottom: 10px;
}

input {
  height: 30px;
  text-align: center;

}
.contact-form h2{
  padding-bottom: 20px;
  padding-top: 10px;
}

.contact-form h3{
  margin-bottom: 10px;
}

.contact-submit {
  background-color: #18455e;
  color: white;
  padding: 30px 180px;
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  text-align: center;
  cursor: pointer;
}

/* Bagian Footer */
.copyrights {
  background: #222222;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

.copyrights p {
  margin-bottom: 5px;
  color: #fff;
  font-size: 15px
}

.copyrights a {
  color: #1abc9c;
}

.credits {
  color: #999;
}
